body{
    background-color: black;
    }
    img{
    width: 100px;
    height: 100px;
    animation-name: square ;
   animation-duration: 4s;
   animation-iteration-count: 4;

    
    
    }
    @keyframes square {
    0%{
        translate: 0 400px;
    }
    
    100%{
    
        translate: 400px 0;
        
    }
    }